<li class='card-item modalBtn' data-id='{{film.id}}'>
  <a class='link modalBtn' href='#' data-id='{{film.id}}'>
    <div class=''>
      <img
        class='card-image modalBtn'
        data-id='{{film.id}}'
        src='https://image.tmdb.org/t/p/w500{{poster_path}}'
        alt='poster-film'
      />
    </div>
    <h2 class='card-title modalBtn' data-id='{{film.id}}'>
      {{title}}
    </h2>
    <div class='card-description-container modalBtn' data-id='{{film.id}}'>
      <p class='card-description modalBtn' data-id='{{film.id}}'>
        {{#each genres}}
          <span class='card-description modalBtn'>
            {{this.name}},
          </span>
        {{/each}}
        | {{release_date}} | {{vote_average}}
      </p>
    </div>
  </a>
</li>