
    <div class="modal-img-container"> <img src="{{poster_path}}" alt="{{}}"></div>

    <div class="modal-movie-info">
        <h2 class="modal-movie-title">{{title}}</h2>

        <table class="modal-movie-table">

            <tr class="movie-table-row">
                <td class="movie-table-data key">Vote / Votes</td>
                <td class="movie-table-data value">{{vote_average}} / {{vote_count}}</td>
            </tr>

            <tr class="movie-table-row">
                <td class="movie-table-data key">Popularity</td>
                <td class="movie-table-data value">{{popularity}}</td>
            </tr>

            <tr class="movie-table-row">
                <td class="movie-table-data key">Original Title</td>
                <td class="movie-table-data value">{{original Title}}</td>
            </tr>

            <tr class="movie-table-row">
                <td class="movie-table-data key">Genre</td>
                <td class="movie-table-data value">{{genre_ids}}</td>
            </tr>
        </table>

       <h3 class="movie-overview-title">ABOUT</h3>
       <p class="modal-movie-overview">{{overview}}</p>
       <div class="modal-buttons">
            <button type="button" class="modal-button watched">ADD TO WATCHED</button>
            <button type="button" class="modal-button queue">ADD TO QUEUE</button>
       </div>
    </div>
    </div>
