
    <div class="modal-img-container"> <img src="{{poster_path}}" alt="{{}}"></div>

    <div class="modal-movie-info">
        <h2 class="modal-movie-title">{{title}}</h2>

        <table class="modal-movie-table">

            <tr>
                <td class="movie-table-key">Vote / Votes</td>
                <td>{{vote_average}} / {{vote_count}}</td>
            </tr>

            <tr>
                <td class="movie-table-key">Popularity</td>
                <td>{{popularity}}</td>
            </tr>

            <tr>
                <td class="movie-table-key">Original Title</td>
                <td>{{original Title}}</td>
            </tr>

            <tr>
                <td class="movie-table-key">Genre</td>
                <td>{{genre_ids}}</td>
            </tr>
        </table>

        <p class="modal-movie-reviews"> about{{overview}}</p>

    </div>
